fastapi==0.136.1
google_api_python_client==2.188.0
google_auth_oauthlib==1.2.4
groq==1.2.0
httpx==0.28.1
langgraph==1.1.10
protobuf==7.34.1
psycopg==3.3.4
psycopg_pool==3.3.1
pydantic==2.13.3
pytest==9.0.3
python-dotenv==1.2.2
Requests==2.33.1
supabase==2.29.0
